 <div class="row" ng-init="singlesurvey.loadQuestion()">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br/>
                <h1 style="color:#F44336;">Create new options</h1>
                <p><span style="color:#F44336;">Note: </span>You can not add more than five options</p>
                <hr>
                <div class="post-preview">
                   <form ng-submit="singlesurvey.createOption(singlesurvey.questionId,singlesurvey.surveyId)">
                       <input placeholder="Type your Option text" type="text" ng-model="singlesurvey.optionText" required=""><br/><br/>
                       <br/><br/>
                       <input type="submit" value="Create Options">
                   </form>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#/{{singlesurvey.surveyId}}/questions/all" style="color:#F44336;">Back to Home &rarr;</a>
                    </li>
                </ul>
            </div>
</div>