 <div class="row" ng-init="editsurvey.loadSingleSurvey()">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br/>
                <h1 style="color:#F44336">Edit this Survey post</h1>
                <hr>
                <div class="post-preview">
                   <form ng-submit="editsurvey.editthisSurvey(editsurvey.surveyId)">
                       
                       <input placeholder="Title of survey" type="text" name="heading" ng-model="editsurvey.survey.surveyTitle" required=""><br/><br/>
                       <input placeholder="Sub Heading of Blog" type="text" name="subHeading" ng-model="editsurvey.survey.surveySubtitle" required=""><br/><br/>
                       <textarea rows="4" cols="50" ng-model="editsurvey.survey.instructions" required="">
                            
                       </textarea>
                       <br/><br/>
                       <input type="submit" value="Edit this Survey">
                   </form>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#/{{editsurvey.surveyId}}" style="color:#F44336">Back to Home &rarr;</a>
                    </li>
                </ul>
            </div>
</div>