 <div class="row" ng-init="questionOperation.loadQuestion()">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="background-color:#FFE0B2">
                <br/>
                <h1>Edit this Survey post</h1>
                <div class="post-preview">
                   <form ng-submit="questionOperation.editthisQuestion(questionOperation.questionId)">
                       <textarea rows="4" cols="50" ng-model="questionOperation.questions.questionText" required="">
                            
                       </textarea>

                       <br/><br/>
                       <input type="submit" value="Edit this Question">
                   </form>
                </div>
                <hr>
                
              
             
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#/questions/all">Back to Home &rarr;</a>
                    </li>
                </ul>
            </div>
</div>