 <div class="row" ng-init="singlesurvey.loadQuestion()">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <br/>
                <h1 style="color:#F44336;">Edit this Question</h1><hr>
                <div class="post-preview">
                   <form ng-submit="singlesurvey.editthisQuestion(singlesurvey.questionId,singlesurvey.surveyId)">
                       <textarea rows="4" cols="50" ng-model="singlesurvey.questions.questionText" required="">
                            
                       </textarea>

                       <br/><br/>
                       <input type="submit" value="Edit this Question">
                   </form>
                </div>
                <hr>
                
              
             
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#/{{singlesurvey.surveyId}}/questions/all" style="color:#F44336;">Back to Home &rarr;</a>
                    </li>
                </ul>
            </div>
</div>