<div class="row" ng-init="questionOperation.loadQuestion()">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="background-color:#FFE0B2;color:white">
                
                <div>
                    
                    <p> 
                            {{questionOperation.questionText}}
                            {{questionOperation.questionId}}
                    </p>
                    <ul class="pager">
                        <li class="next">
                        <a href="#/questions/{{questionOperation.questionId}}/edit">Edit Question</a></li>
                        <li class="next">
                        <a ng-click="questionOperation.deleteAQuestion(questionOperation.questionId,$index)">Delete Question</a></li>
                        <li class="next">
                        <a href="#/questions/{{questionOperation.questionId}}/options/create">Create Options</a></li>
                    </ul>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#/{{singlesurvey.surveyId}}">Back to Home &rarr;</a>
                    </li>
                </ul>
            </div>
</div>