<div class="row" ng-init="singlesurvey.loadSingleSurvey()">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                
                <h1 style="color:#F44336">{{singlesurvey.surveyTitle}}</h1>
                <h3>{{singlesurvey.surveySubtitle}}</h3>
                <hr>
                <div class="post-preview">
                    <p>
                        {{singlesurvey.instructions}}

                    </p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a ng-href="#/{{singlesurvey.surveyId}}/edit" style="color:#F44336">Edit this Survey &rarr;</a>
                    </li>
                    <li class="next">
                        <a ng-href="#/{{singlesurvey.surveyId}}/questions/all" style="color:#F44336">Show all questions &rarr;</a>
                    </li>
                    <li class="next">
                        <a ng-href="#/{{singlesurvey.surveyId}}/question/create" style="color:#F44336">Create Questions for this survey &rarr;</a>
                    </li>
                    <li class="next" >
                        <a href="#/all" style="color:#F44336">Back to Home &rarr;</a>
                    </li>
                </ul>
            </div>
</div>